:root{
    --cor-primaria: #295A80;
    --cor-secundaria: #7BAED2;
    --cor-terciaria: #D9D9D9;
    --cor-quaternaria: #006992;
    --cor-fundo: white;
    --fonte-primaria: "poppins", sans-serif;
    --fonte-secundaria: "georgia", sans-serif;
    --tamanhofonte-primaria: "20px";
    --tamanhofonte-secundaria: "18px";
    --tamanhofonte-terciaria: "30px";
}
*{
    font-family: var(--fonte-primaria);
    font-size: var(--tamanhofonte-primaria);
    background-color: var(--cor-fundo);
}
