@import url(../style/style.css);
@import url(../style/header.css);
@import url(../style/footer.css);

main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E9E9E9;
}

.formulario-cadastro{
    width: 935px;
    height: 600px; 
    margin: 20px 0px;
    border-radius: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background-color: var(--cor-form-login);
}

.formulario-cadastro h1{
    font-size: var(--login-titulo);
    margin-top: 32px;
}

.cadastro-form{
    display: flex;
    justify-content: space-around;
    align-items: start;
    width: 100%;
}

.cadastro-titulo{
    font-weight: var(--texto-semibold);
}

.cadastro-inputs{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    gap: 16px;
}

.cadastro-input{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    position: relative;
    gap: 4px;
}

.cadastro-inputs label{
    font-size: var(--login-label);
}

.cadastro-inputs input{
    background-color: #575757;
    border-radius: 10px;
    width: 268px;
    height: 40px;
    border: 0px;
    color: white;
    font-size: 0.938rem;
    padding: 2px 0px 2px 15px;
    transition: 0.5s all ease;
}

.cadastro-inputs input:hover{
    opacity: 0.9;
}

.cadastro-inputs input:focus{
    background-color: #696969;
}

.cadastro-input label{
    display: flex;
    justify-content: center;
    align-items: center;
}

.check-manter-logado{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 6px;
}

.check-manter-logado input[type="checkbox"] {
    appearance: none;
    background: url(../img//login/checkbox.svg) no-repeat;
    width: 30px;
    height: 30px;
}

.check-manter-logado input[type="checkbox"]:checked {
    background: url(../img//login/checked.svg) no-repeat;
}

#cadastro-botao{
    width: 266px;
    height: 46px;
    margin-top: 4px;
    font-size: var(--login-botao);
    background-color: var(--cor-quaternaria);
    color: #fff;
    border: 2px solid var(--cor-quaternaria);
    border-radius: 5px;
    filter: drop-shadow(13px 1px 13px #575757);
    letter-spacing: 3px;
    transition: 0.6s all ease;
}

#cadastro-botao:hover{
    opacity: 0.4;
    cursor: pointer;
}

.check-manter-logado{
    margin-top: 20px;
}

.entrar-redes{
    margin-top: 36px;
    width: 220px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.entrar-redes img{
    width: 42px;
    height: 42px;
}

.direcionar-cadastro{
    margin-top: 10px;
    margin-bottom: 15px;
}

.cadastro-texto{
    font-size: var(--login-texto);
}

#link-cadastro{
    color: var(--cor-fonte-link);
}

#link-cadastro:hover{
    opacity: 0.8;
}

#status-cadastro-endereco, #status-cadastro-email, #status-cadastro-nome, #status-cadastro-telefone, #status-cadastro-email, #status-cadastro-senha{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 0.75rem;
    color: #8b1818;
    font-weight: 500;
}

#remover_endereco {
    display: none;
    position: absolute;
    right: -40px;
    top: 40px; /* Ajuste este valor conforme necessário */
    cursor: pointer;
    transition: 0.4s all ease;
}

#remover_endereco:hover{
    filter: drop-shadow(0px -1px 10px #000000);
    transform: scale(1.10);
}

#btn-procurar-cep{
    font-size: 0.75rem;
    margin-left: 3px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    text-decoration: underline;
    transition: 0.3s all ease;
}

#btn-procurar-cep:hover{
    opacity: 0.8;
}

@media (max-width: 948px){
    .formulario-cadastro{
        justify-content: center;
        height: auto;
        width: 90%;
    }
    .cadastro-titulo{
        font-size: 0.875rem;
    }
    .cadastro-form{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .cadastro-inputs input{
        width: 50vw;
    }
    #cadastro-botao{
        width: 40vw;
    }
    .cadastro-inputs{
        margin-top: 10px;
    }

    .direcionar-cadastro{
        text-align: center;
    }

    .entrar-redes{
        width: 50vw;
        max-width: 200px;
    }
}