@import url(../style/style.css);
@import url(../style/header.css);
@import url(../style/footer.css);
 
main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E9E9E9;
}

.perfil-usuario{
    width: 935px;
    height: 680px;
    background-color: var(--cor-form-login);
    margin: 20px 0px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}

.perfil-usuario h1{
    font-size: var(--login-titulo);
    margin-top: 32px;
}

.perfil-form{
    display: flex;
    padding-left: 5%;
    padding-bottom: 2.5%;
    align-items: start;
    width: 100%;
}

.perfil-titulo{
    font-weight: var(--texto-semibold);
    text-align: center;
}

.perfil-inputs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    gap: 16px;
}

.perfil-input{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.perfil-inputs label{
    font-size: var(--login-label);
}

.perfil-inputs input{
    background-color: white;
    color: black;
    border-radius: 10px;
    width: 408px;
    height: 45px;
    border: 0px;
    font-size: 16px;
    padding: 2px 0px 2px 15px;
    transition: 0.5s all;
}

.perfil-inputs input:hover{
    opacity: 0.9;
}

.perfil-input label{
    display: flex;
    justify-content: center;
    align-items: center;
}

#perfil-botao{
    width: 266px;
    height: 46px;
    margin-top: 4px;
    font-size: var(--login-botao);
    background-color: var(--cor-quaternaria);
    color: #fff;
    border: 2px solid var(--cor-quaternaria);
    border-radius: 5px;
    filter: drop-shadow(13px 1px 13px #575757);
    letter-spacing: 3px;
    transition: 0.6s all ease;
}

#perfil-botao:hover{
    opacity: 0.4;
    cursor: pointer;
}

.foto-perfil{
    justify-content: start;
    padding-right: 5%;
}

#imagem-perfil{
    border: 5px solid white;
    border-radius:80px;
    width: 150px;
    height: auto; 
}

#perfil-botao{
    width: 266px;
    height: 46px;
    margin-top: 4px;
    font-size: var(--login-botao);
    background-color: var(--cor-quaternaria);
    color: #fff;
    border: 2px solid var(--cor-quaternaria);
    border-radius: 5px;
    filter: drop-shadow(13px 1px 13px #575757);
    letter-spacing: 3px;
    transition: 0.6s all ease;
}

@media (max-width:650px){
    .perfil-usuario{
        height: auto;
    }
    .perfil-form{
        align-items: center;
        flex-direction: column;
    }
    .perfil-inputs input{
        width: 80vw;
    }
    #perfil-botao{
        width: 70vw;
    }
}