@import url(../style/style.css);

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
    background-color: var(--cor-primaria);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999;
    width: 100%;
}

body {
    background-color: #E9E9E9;
}

/* .header + main{
    margin-top: 100px;
} */

@media (max-width: 1050px) {
    .header + main{
        margin-top: 187px;
    }
}

@media (max-width: 642px) {
    .header + main{
        margin-top: 274px;
    }
}

.navbar-header{
    display: flex;
    justify-content: space-evenly;
    align-items: end;
    flex-direction: row;
    flex-wrap: wrap;
    width: 550px;
    height: var(--header-altura);
    font-size: var(--header-texto);
    font-weight: bold;
}

.logo-header img{
    width: 372px;
    height: 80px;
    filter: drop-shadow(2px 2px 20px #6b6b6b);
    transition: 0.6s opacity;
}

.logo-header img:hover{
    opacity: 0.7;
    filter: drop-shadow(2px 2px 20px #7c7c7c);
}

.navbar-header a{
    margin-bottom: 20px;
    text-decoration: none;
    color: white;
    border-bottom: 4px solid white;
    font-weight: 600;
    letter-spacing: var(--navbar-espacamento-letras);
    transition: 0.3s all ease;
}


.navbar-header a:hover{
    color: rgba(255, 255, 255, 0.642);
    border-bottom: 4px solid rgba(255, 255, 255, 0.427);
}

.login-header{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.6s all ease-in-out;
}

.login-header:hover{
    cursor: pointer;
    opacity: 0.3;
}

.login-header a{
    border: none;
    color: white;
    font-size: var(--header-texto);
    font-weight: 600;
    text-decoration: none;
}

#icon_login{
    width: 80px;
    height: 80px;
}
