@import url(../style/style.css);

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
    background-color: var(--cor-primaria);
}

.navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: end;
    flex-direction: row;
    flex-wrap: wrap;
    width: 550px;
    height: var(--header-altura);
    font-size: var(--header-texto);
    font-weight: bold;
}

.header img{
    width: 372px;
    height: 80px;
}

.navbar a{
    margin-bottom: 20px;
    text-decoration: none;
    color: white;
    border-bottom: 4px solid white;
    font-weight: 600;
    letter-spacing: var(--navbar-espacamento-letras);
    transition: 0.3s all ease;
}


.navbar a:hover{
    color: rgba(255, 255, 255, 0.642);
    border-bottom: 4px solid rgba(255, 255, 255, 0.427);
}

.login{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.6s all ease-in-out;
}

.login:hover{
    cursor: pointer;
    opacity: 0.3;
}

.login a{
    border: none;
    color: white;
    font-size: var(--header-texto);
    font-weight: 600;
}

#icon_login{
    width: 80px;
    height: 80px;
}

