@import url(../../style/style.css);
@import url(../../header/header.css);
@import url(../../footer/footer.css);

/* .barra-pesquisa-doenca{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #D9D9D9;
    padding: 20px;
}

.barra-pesquisa-doenca a{
    text-decoration: none;
    color: black;
}

.barra-pesquisa-doenca input{
    padding: 8px;
    border-radius: 10px;
    border: 4px solid #aaaaaa;
    width: 300px;
    transition: 0.4s all ease;
    font-size: 16px;
}

.barra-pesquisa-doenca input:hover{
    background-color: #ebebeb;
}

.input-pesquisa-doenca{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.input-pesquisa-doenca button{  
    border: none;
    border-radius: 20px;
    padding: 6px;
}

.input-pesquisa-doenca img{  
    width: 40px;
    height: 30px;
}

.input-pesquisa-doenca img:hover{  
    opacity: 0.7;
    cursor: pointer;
} */

.banner-doencas{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F0F0F0;
    margin: 32px 122px 72px 122px;
    font-size: var(--doencas-texto);
    border-radius: 20px;
    padding: 0px 80px;
}

.img-banner-doencas img{
    width: 350px;
    height: 350px;
}

.texto-banner-doencas{
    width: 593px;
}

.pesquisa-doencas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.barra-pesquisa-doencas{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #F0F0F0;
    padding: 30px;
    border-radius: 30px;
    gap: 10px;
}

.barra-pesquisa-doencas input{
    padding: 8px;
    border-radius: 10px;
    border: 4px solid #aaaaaa;
    width: 300px;
    transition: 0.4s all ease;
    font-size: 18px;
}

.barra-pesquisa-doencas-form{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: 100px;
}

.barra-pesquisa-doencas-cancelar{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 51px;
    transition: 0.5s all;
}

.barra-pesquisa-doencas-cancelar:hover{
    cursor: pointer;
    opacity: 0.6;
}

.cards-doencas{
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.card-doenca, .card-nenhuma-doenca{
    display: flex;
    justify-content: start;
    background-color: var(--cor-secundaria);
    padding: 20px;
    gap: 40px;
    border-radius: 20px;
    width: 70%;
    transition: 0.3s all ease;
    cursor: pointer;
}

.card-nenhuma-doenca{
    display: none;
}

.card-doenca:hover, .card-nenhuma-doenca:hover{
    background-color: #accee7;
}

.card-doenca img, .card-nenhuma-doenca img{
    width: 80px;
    height: 80px;
    border-radius: 20px;
}