@import url(../../style/style.css);
@import url(../../header/header.css);
@import url(../../footer/footer.css);

.banner-noticias{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #F0F0F0;
    margin: 32px 122px 72px 122px;
    font-size: var(--doencas-texto);
    border-radius: 20px;
    padding: 30px 10px;
    gap: 20px;
}

.texto-banner-noticias span{
    text-wrap: wrap;
    text-align: justify;
}

.img-banner-noticias img{
    width: 300px;
    height: 300px;
}

.texto-banner-noticias{
    width: 580px;
}

.pesquisa-noticias{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.filtro-pesquisa-noticias{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 70%;
    background-color: var(--cor-terciaria);
    padding: 20px;
    border-radius: 10px;
    gap: 10px;
}

.opcoes-filtro-noticias{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    font-size: 19px;
}

.info-filtro-noticias{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 150px;
}

.info-filtro-noticias img{
    width: 45px;
}

.nome-pesquisa-noticias{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.input-pesquisa-noticias{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input-pesquisa-noticias input{
    padding: 8px;
    border-radius: 10px;
    border: 4px solid #aaaaaa;
    width: 300px;
    transition: 0.4s all ease;
    font-size: 18px;
}

.cancelar-pesquisa-noticias{
    display: none;
}

.cancelar-pesquisa-noticias img{
    transition: 0.4s all;
    margin-top: 30px;
}

.cancelar-pesquisa-noticias img:hover{
    cursor: pointer;
    opacity: 0.6;
}

.resultado-pesquisa-noticias{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    display: none;
    font-size: 18px;
    width: 400px;
}

.resultado-pesquisa-noticias span{
    text-align: center;
}

.palavra-filtro-noticias{
    color: var(--cor-primaria);
    font-weight: bold;
}

.tags-pesquisa-noticias{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#select-noticias{
    padding: 8px;
    border-radius: 10px;
    border: 4px solid #aaaaaa;
    width: 300px;
    transition: 0.4s all ease;
    font-size: 18px;
}

.cards-noticias{
    margin: 40px 20px 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.card-noticia{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.card-noticia, .card-nenhuma-noticia{
    background-color: var(--cor-secundaria);
    padding: 20px;
    border-radius: 20px;
    width: 70%;
    cursor: pointer;
    font-weight: 500;
}

.tags-noticias{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ebebeb;
    background-color: var(--cor-primaria);
    padding: 10px;
    border-radius: 5px;
    gap: 20px;
}

.corpo-card-noticia{
    display: flex;
    justify-content: center;
    align-items: center;
}

.desc-card-noticia{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    margin-top: 20px;
}

.link-card-noticia{
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 0px;
    opacity: 0;
    transition: 0.4s all ease-in-out;  
    color: #2e2e2e;
    font-weight: bold;
    transition: 0.5s all ease;
}

.card-noticia:hover{
    /* box-shadow: 2px 10px 5px rgba(0, 0, 0, 0.308); */
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.card-noticia:hover .link-card-noticia{
    height: 20px;
    visibility: visible;
    opacity: 1;
    margin-top: 20px;
}

.card-nenhuma-noticia{
    display: none;
}

.card-noticia img, .card-nenhuma-noticia img{
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

