@import url(../style/style.css);
@import url(../header/header.css);
@import url(../footer/footer.css);

.opcoes-menu{
    display: flex;
    flex-direction: column;
    background-color: #d9d9d9;
    height: calc(100vh - 120px);

}
.opcoes-doencas, .opcoes-noticias, .opcoes-responsaveis {
    display: flex;
    align-items: center;
    gap: 60px;
    height: 33%;
    padding: 25px 0px 25px 40px;
    
}
.opcoes-doencas, .opcoes-noticias{
    border-bottom: 2px solid black;
}

.icone-menu{
    width: 80px;
    height: 80px;
}
