@import url(../style/style.css);
@import url(../header/header.css);
@import url(../footer/footer.css);

.opcoes-menu{
    display: flex;
    flex-direction: column;
    background-color: #d9d9d9;
    height: calc(100vh - 120px);

}
.opcoes-doencas, .opcoes-noticias, .opcoes-responsaveis {
    display: flex;
    align-items: center;
    gap: 60px;
    height: 33%;
    padding: 25px 0px 25px 40px;
    
}
.opcoes-doencas, .opcoes-noticias{
    border-bottom: 2px solid black;
}

.icone-menu{
    width: 80px;
    height: 80px;
}
.container{
    margin: 40% 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #0F6F8F;
}
.item{
    justify-content: center;
    width:150px ;
    height: 150px ;
    background-color: #7BAED2;
    text-align: center;

}


    
    
    


