@import url(../../../index.css);
.div-principal{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px;
    border-radius: 5px;
    background-color: var(--cor-secundaria);
    flex-direction: column;
}
.informacoes{
    display: flex;
    margin: 20px;
    flex-direction: row;
    width: 95%;
}
#imagem-doenca img{
    display: flex;
    width: 300px;
    border-radius: 5px;
    border:5px solid var(--cor-fundo);
    margin: 20px;
}
#imagem-doenca{
    display: flex;
}
.texto h2{
    font-size: var(--fonte-terciaria);
    font-family: var(--familia-primaria);
}
.texto p{
    font-size: var(--fonte-primaria);
    font-family: var(--familia-primaria);
    text-align: justify;
}
hr{
    width: 95%;
    height: 1px;
    border-color: black;
    background-color: black;
}
.doenca{
    width: 90%;
}
.doenca ul{
    margin-left: 30px;
}
a{
    color: var(--cor-fonte-links);
    text-decoration: none;
}
#botaoVoltar{
    width: 90%;
    display: flex;
    margin:10px;
    justify-content: flex-end;
}
#texto h2{
    font-size: var(--fonte-terciaria);
    font-family: var(--familia-primaria);
}
#texto p{
    width: 1100px;
    font-size: var(--fonte-primaria);
    font-family: var(--familia-primaria);
    text-align: justify;
}
#texto{
    justify-content: center;
}
@media (max-width: 375px) {
    .informacoes{
    flex-direction: column;
    flex-wrap: wrap;
    }
    #texto p{
        width: 266px;
    }
    #imagem-doenca img{
        width: 266px;
        margin: 0px;
        border: 0px;
    }
    #imagem-doenca{
        margin: 0px;
    }
}
@media (min-width: 375.1px) and (max-width: 425px) {
    .informacoes{
        flex-direction: column;
        flex-wrap: wrap;
        }
        #texto p{
            width: 309px;
        }
        #imagem-doenca img{
            justify-content: center;
            width: 300px;
            margin: 0px;
            border: 0px;
        }
        #imagem-doenca{
            justify-content: center;
            margin: 0px;
        }
}
@media (min-width: 425.1px) and (max-width: 767.9px) {
    .informacoes{
        flex-direction: column;
        flex-wrap: nowrap;
        }
        #texto p{
            width: 364px;
        }
        #imagem-doenca img{
            justify-content: center;
            width: 300px;
            margin: 0px;
            border: 5px;
        }
        #imagem-doenca{
           justify-content: center;
            margin: 0px;
        }
}
@media (min-width: 768px) and (max-width: 1024px) {
    .informacoes{
        flex-direction: column;
        flex-wrap: nowrap;
        }
        #texto p{
            width: 691px;
        }
        #imagem-doenca img{
            justify-content: center;
            width: 300px;
            margin: 10px;
            border: 5px solid var(--cor-fundo);
        }
        #imagem-doenca{
           justify-content: center;
            margin: 0px;
        }
}
@media (min-width: 1024.1px) and (max-width:1440px) { 
    .informacoes{
        flex-direction: row;
        flex-wrap: nowrap;
        }
        #texto p{
            width: 610px;
        }
        #imagem-doenca img{
            justify-content: center;
            width: 300px;
            margin: 10px;
            border: 5px solid var(--cor-fundo);
        }
        #imagem-doenca{
           justify-content: center;
            margin: 0px;
        }
}