@import url(../style/style.css);
@import url(../style/header.css);
@import url(../style/footer.css);
 
main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E9E9E9;
}

.formulario-cadastro{
    width: 85vw;
    height: auto; /* No figma é 514px*/
    background-color: var(--cor-form-login);
    margin: 49px 0px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    padding-bottom: 20px;
}

.formulario-cadastro h1{
    font-size: var(--login-titulo);
    margin-top: 32px;
}

.cadastro-titulo{
    font-weight: var(--texto-semibold);
    text-align: center;
}

.cadastro-inputs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    gap: 16px;
}

.cadastro-input{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}

.cadastro-inputs label{
    font-size: var(--login-label);
}

.cadastro-inputs input{
    background-color: white;
    border-radius: 10px;
    width: 75vw;
    height: 45px;
    border: 0px;
    color: #575757;
    font-size: 16px;
    padding: 2px 0px 2px 15px;
    transition: 0.5s all;
}

.cadastro-inputs input:hover{
    opacity: 0.9;
}

.cadastro-inputs input:focus{
    background-color: #696969;
}

#reclamacao{
    background-color: white;
    border-radius: 10px;
    width: 75vw;
    height: 100px;
    border: 0px;
    color: #575757;
    font-size: 16px;
    padding: 2px 0px 2px 15px;
    transition: 0.5s all;
    resize: vertical;
}
#imagem-input {
    display: none;
}

#upload-button {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: black;
    background-color: white; 
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: 2px solid black;
    box-shadow: 0 0 0 4px white;

}
#imagem-titulo{
    padding-bottom: 10px;
}
#enviar-botao{
    width: 30%;
    height: 46px;
    margin-top: 32px;
    font-size: var(--login-botao);
    background-color: var(--cor-quaternaria);
    color: #fff;
    border: 2px solid var(--cor-quaternaria);
    border-radius: 5px;
    filter: drop-shadow(13px 1px 13px #575757);
    letter-spacing: 3px;
    transition: 0.6s all ease;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

#enviar-botao:hover{
    opacity: 0.4;
    cursor: pointer;
}

#imagem-preview{
    width: 80%;
    height: 500px;
    display: none;
}