@import url(../../../index.css);

.div-principal{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px;
    border-radius: 5px;
    background-color: var(--cor-secundaria);
    flex-direction: column;
}
.informacoes{
    display: flex;
    margin: 20px;
    flex-direction: row;
    width: 95%;
}
#imagem-reclamacao img{
width: 300px;
border-radius: 5px;
border:5px solid var(--cor-fundo);
margin: 20px;
}
.texto h2{
    font-size: var(--fonte-terciaria);
    font-family: var(--familia-primaria);
}
.texto p{
    font-size: var(--fonte-primaria);
    font-family: var(--familia-primaria);
    text-align: justify;
}
hr{
    width: 95%;
    height: 1px;
    border-color: black;
    background-color: black;
}
a{
    color: var(--cor-fonte-links);
    text-decoration: none;
}
#botaoVoltar{
    width: 90%;
    display: flex;
    margin:10px;
    justify-content: flex-end;
}