@import url(../style/style.css);

footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    height: 24vh;
    background-color: var(--cor-primaria);
}
footer .footer-reclamacoes{
    background-color: var(--cor-primaria);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.links-footer{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}

