@import url(../../header/header.css);
@import url(../../footer/footer.css);

section{
    padding: 10px 55px;
    display: flex;
    height: auto;
    width: auto;
}
section .txt h2{
    padding-bottom: 20px;
    font-size: var(--sobrenos-titulo);
}
section .txt p, span{   
    font-size: var(--fonte-secundaria);
}
.empresa{
    align-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: space-between;     
}
.empresa .txt{
    width: 40%;
}
.empresa .txt p{
    text-align: justify;
}
.empresa .imagem{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 50%;
}
.empresa .imagem img{
    height: 15vw;
}
.empresa .imagem h2, .desenvolvedores h2 {
    font-size: var(--sobrenos-titulo);
}
.nossoObjetivo{
    align-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: space-between;  
    background-color: var(--cor-secundaria);
}
.nossoObjetivo .txt{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.nossoObjetivo .txt p{
    text-align: justify;
}
.nossoObjetivo .imagem{
    height: 100%;
}
.nossoObjetivo .imagem img{
    height: 300px;
}
.desenvolvedores{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.desenvolvedores .imgDevs{
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.desenvolvedores .imgDevs .dev{
    width: 15%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    gap: 5px;
}
.desenvolvedores .imgDevs .dev span{
    font-weight: bolder;
}
.desenvolvedores .imgDevs .dev img{
    width: 50%;
    height: 65%;
    border-radius: 50%;
    transition: .6s;
}
.desenvolvedores .imgDevs .dev img:hover{
    transform: scale(1.12);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.308);
}
@media (max-width: 850px) {
    section{
        padding: 15px 20px;
    }
    .empresa, .nossoObjetivo{
        flex-direction: column-reverse;
    }
    .empresa .txt, .nossoObjetivo .txt{
        width: 90%;
    }
    .empresa .imagem{
        flex-wrap: wrap;
        gap: 15px;
        padding-bottom: 10px;
    }
    .empresa .imagem img{
        height: 200px;
    }
    .empresa .imagem h2{
        font-size: 25px;
        text-align: center;
    }
    .empresa .txt{
        text-align: center;
    }
    .desenvolvedores .imgDevs .dev{
        width: 30%;
        font-size: 16px;
    }
    .nossoObjetivo .txt{
        align-items: center;
    }
}